@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
}

[x-cloak] {
    display: none !important;
}
